.btn {
    width: 350px;
    height: 70px;
    background-color: #7F8196;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    color: #FFF;
    &:hover {
        background-color: #1BBD63;
    }
    &:focus {
        border: none;
        outline: none;
    }

    &_promo {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }

    &_prefooter {
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    &_green {
        background-color: #1BBD63;
        &:hover {
            background-color: #2DB867;
        }
        &:focus {
            border: none;
            outline: none;
        }
    }

    &_min {
        width: 250px;
        height: 50px;
        font-size: 20px;
    }
}