.promo {
    margin-top: 10px;
    padding-top: 50px;
    height: 600px;
    background: url("../img/promo_bcg_2.jpg") center (center / cover) no-repeat;

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

    }

    &__title {
        text-align: center;
        font-size: 70px;
        color: rgb(110, 103, 103);
        position: relative;
    }

    &__subtitle {
        font-size: 50px;
        color: rgb(110, 103, 103);
    }
}